html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(http-quiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="description", content="#{__('在线可视化体验 ID3 分类算法.')}")
        title #{__('ID3 分类算法可视化')}
        link(rel="shortcut icon", href="/favicon.ico")
        style(type="text/css").
            @font-face {
                font-family: 'Droid Serif';
                src: url("/assets/fonts/DroidSerif.ttf");
            }
            @font-face {
                font-family: 'Yanone Kaffeesatz';
                src: url('/assets/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf')
            }
            @font-face {
                font-family: 'Ubuntu Mono';
                src: url('/assets/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf')
            }

            body {
                font-family: 'Droid Serif';
            }

            h1, h2, h3 {
                font-family: 'Yanone Kaffeesatz';
                font-weight: normal;
            }

            .remark-code, .remark-inline-code {
                font-family: 'Ubuntu Mono';
            }

body
    textarea#source.
        class: center, middle

        # id3
        ## 决策树构建算法介绍

        ---

        class: left, middle

        background-image: url(/assets/images/Richard_Feynman_Nobel.jpg)
        background-position: right bottom
        background-size: contain

        # [Richard Feynman](https://en.wikipedia.org/wiki/Richard_Feynman)
        > 我不能创造的，我就并不理解。

        ---

        # Agenda

        1. Introduction
        2. Deep-dive
        3. ...

        ---

        # Introduction
    div
    script(src="/assets/scripts/remark.min.js")
    script.
        var slideshow = remark.create();
