div.ui.inverted.segment
    div.ui.inverted.secondary.menu
        a.item(href="https://travis-ci.com/Jeff-Tian/id3", target="_blank", rel="noopener noreferer")
            i.dashboard.icon
            | #{__('编译状态')}
        a.item(href="https://willkurt.github.io/ID3-Decision-Tree/", target="_blank", rel="noopener noreferer")
            | #{__('使用 id3 算法构建的三子棋决策树')}
